{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	  <style>
      #content {
  display: flex;
  flex-direction: row;
         align-items: flex-end;
        justify-content: flex-end;
       
       
}
      .parent {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
    
 
      body {
  background-color: purple;
}
      .box{
 padding: 120px;
        margin: 20px; 
      }
    </style>
	</head>
	<body>
		<!-- Your layout here -->
    
        
<div id="content">
  <div class="box" style="background-color:orange;"> </div>
  <div class="box" style="background-color:orange;"> </div>
  <div class="box" style="background-color:orange;"> </div>
   <div class="box" style="background-color:orange;"> </div>
  <div class="box" style="background-color:orange;"> </div>
</div>
  

	</body>
</html>