{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
  <style>
      #content {
  display: flex;
  flex-direction: row;
       
}
     #content1 {
  display: flex;
  flex-direction: row;
       
}
     #content2 {
  display: flex;
  flex-direction: row;
       
}
    
      body {
  background-color: purple;
}
      .box{
 padding: 100px;
        margin: 20px; 
      }
    </style>
	</head>
	<body>
		<!-- Your layout here -->
    
        
<div id="content">
  <div class="box" style="background-color:orange;"> </div>
  <div class="box" style="background-color:orange;"> </div>
  <div class="box" style="background-color:orange;"> </div>
</div>
  
            
<div id="content1">
  <div class="box" style="background-color:orange;"> </div>
  <div class="box" style="background-color:orange;"> </div>
</div>
            
<div id="content2">
  <div class="box" style="background-color:orange;"> </div>
  <div class="box" style="background-color:orange;"> </div>
</div>
 
	</body>
</html>